body{
    width: 1;
    background-color: #31363F;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
}

nav{
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 82vw;
    top: 2.5vw;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover.dropdown-content {
    display: block;
}

.dropdown-content input[type=text],
.dropdown-content input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.dropdown-content button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #ff0000;
}

.dropbtn {
    position: absolute;
    top: 1.5vw;
    left: 94vw;
    background-color: #222831;
    border-radius: 10%;
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    cursor: pointer;
}

.dropdown:hover.dropdown-content {
    display: block;
}

main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indexHeader {
    color: white;
    
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

img{
    display: none;
}

#game{
    width: 900px;
    height: 500px;
    background-image: url("Assets/background.png");
}

#cardDeckArea {
    position: absolute;
    z-index: 1000;
    min-width: 120px;
    min-height: 140px;
    top: 355px;
    left: 345px;
}

#cardArea0, #cardArea1, #cardArea2, #cardArea3, #cardArea4, #cardArea5, #cardArea6, #cardArea7, #cardArea8, #cardArea9 {
    position:absolute; 
    z-index: 1000;
    top:505px;
    min-width: 88px;
    min-height: 130px;
}

#cardArea0 {left: 270px;}

#cardArea1 {left: 360px;}

#cardArea2 {left: 450px;}

#cardArea3 {left: 540px}

#cardArea4 {left: 630px;}

#cardArea5 {left: 720px;}

#cardArea6 {left: 810px;}

#cardArea7 {left: 900px;}

#cardArea8 {left: 990px;}

#cardArea9 {
    left: 1080px;
    min-width: 75px;
}